.Nav{

    

  
   
        width: 100%;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        text-align: center;
        margin-bottom: 3rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
 
    transition: 0.5s;
}


